<form ng-controller="CustomForms.FormEditController">
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1 class="ng-binding">{{menuNode.name}}</h1>
            </div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1">
                <div class="umb-pane">
                    <button type="button" ng-csv="records" csv-header="keys(records[0])" filename="{{filename}}" style="margin-bottom:20px;">Export as CSV</button>

                    <table border="1" cellpadding="10">
                        <tbody>
                            <tr>
                                <th ng-repeat="key in keys(records[0]) track by $index">{{key}}</th>
                            </tr>
                            <tr ng-repeat="record in records track by $index">

                                <td ng-repeat="key in keys(record) track by $index">
                                    {{fixDate(record[key], key)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                 
                    
                </div>
                
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>